 <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand"></li>
            <a href="#">
                Sidebar Brand
            </a>
            <li>
                <a href="#">
                    Dashboard
                </a>
                <a href="#">
                    Account settings
                </a>
                <a href="#">
                    Logout
                </a>
            </li>
        </ul>
 </div>