{% block about %}

    <div id="start">
        <div class="container">
            <div class="row">
                <div class col-lg-6 col-md-6>
                    <h2> HOW TO START </h2>
                    <p> learn how easy it is to start out <br>
                        with our application. Step by step! </p>
                </div>
                <div class="col-lg-3 col-md-3">
                    <i class="fa fa-plus" aria-hidden="true"></i> <br>
                    <h4> REGISTER </h4>
                    <p> Register to add sets or log in<br>
                        if you're already a member </p>
                </div>
                <div class="col-lg-3 col-md-3">
                    <i class="fa fa-archive" aria-hidden="true"></i> <br>
                    <h4> CREATE A SET </h4>
                    <p> Organize your flashcards<br>
                        within sets in your own fashion</p>
                </div>
                <div class="col-lg-3 col-md-3">
                    <i class="fa fa-tag" aria-hidden="true"></i> <br>
                    <h4> TAG IT</h4>
                    <p> Add as many tags as you wish <br>
                        to manage your learning assistance better </p>
                </div>
                <div class="col-lg-3 col-md-3">
                    <i class="fa fa-globe" aria-hidden="true"></i> <br>
                    <h4> SHARE </h4>
                    <p> Set your flashcards public <br>
                        or keep it just for you </p>
                </div>
            </div>
        </div>

    </div>

{% endblock %}