{% block footer %}
    <div id="footer" class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <h4>  {{ 'footer.contact'|trans }} </h4>
                    <p><i class="fa fa-home" aria-hidden="true"> </i> 111 Main Street, Washington DC, 222222 </p>
                    <p><i class="fa fa-envelope" aria-hidden="true"> </i> fiszki.helpdesk@mail.com </p>
                    <p><i class="fa fa-phone" aria-hidden="true"> </i> 222 222 2222 </p>
                </div>
            </div>
            <div class="row">
                <div id="copyright" class="col-lg-12 col-md-12"><i class="fa fa-copyright" aria-hidden="true"></i> Copyright Wiktoria Łucarz
               <br> {{ 'copyright.graphic'| trans }} </div>
            </div>
        </div>

    </div>
{% endblock %}