{% block header %}
    <!-- HEADER -->
    <div id="header" class="jumbotron">
        <div class="container-fluid">
            <div class="row">
                <div id="page-heading" class="col-lg-6 col-md-6">
                    <h1> {{ 'lead.learn-with-us'|trans }}</h1>
                    <p>  {{ 'lead.more-efficiently'|trans }} </p>
                    <div class="col-lg-6 col-md-6 col-sm-3 col-xs-2"></div>
                    <div class="col-lg-6 col-md-6 col-sm-3 col-xs-4">
                        <a class="btn btn-lg" align="center" href="{{ url('register')}}">   {{ 'action.start'|trans }} </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}