body {
    overflow-x: hidden;
    position:absolute;
    min-height:100%;
    width:100%;
    background-color: #FAFAFA;
}

.navbar-custom {
    margin-bottom: 0px;
    border-bottom: none;
}

/* Header */

 #fluid {
     padding: 0px;
 }

#header, article {
    padding:30px 30px 30px 60px;
    width:100%;
    margin:0px;
    min-height: 100px;
    box-shadow: 2px 2px 2px #E0E6ED;
    -moz-box-shadow: 2px 2px 2px #E0E6ED;
    -o-box-shadow: 2px 2px 2px #E0E6ED;
    -webkit-box-shadow: 2px 2px 2px #E0E6ED;
}

#header{
    padding-bottom: 20px;
    min-height: 180px;
    background-color: white;
}

#header > div {
    min-height: 60px;
    margin-bottom:30px;
}

#header .row {
    margin-bottom: 5px;
}

#header .row > div {
    max-height: 50px;
}

small{
    display: block;
    font-weight: lighter;
    padding-left: 10px;
    margin-bottom: 8px;
}

#header h1{
    color:#47525E;
    font-family: 'Lato black', sans-serif;
    font-weight: 900;
    font-size: 50px;
}

/* Toggle Styles */

#wrapper {
    margin-top:50px;
    height: 100%;
}

#sidebar {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 249.5px;
    height: 100%;
    margin-left: -247px;
    overflow-y: auto;
    background: #E5E9F2;
}

#page-content-wrapper {
    width: 100%;
    height: 100%;
    margin-right: -250px;
    padding:0;
}


/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #47525e;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(71,82,94,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
        margin-top:50px;
    }

    #sidebar {
        width: 249.5px;
    }

    #page-content-wrapper {
        padding: 249.5px;
    }

    /* FOOTER */
    #footernav{
        position:relative;
        bottom:0px;
        margin-bottom:10px;
        margin-top:20px;
    }


    #footernav li {
        display:inline;
        list-style-type: none;
        padding: 0px 15px;
        text-decoration: none;
    }

    #footernav li a {
        color: #FFE500;
        text-decoration: none;
    }

    #footernav li a:hover {
        color: #fee400;
        text-decoration: none;
    }
}

/* MULTIPLE USAGE ( *_index ) */

.index-list{
    padding: 30px;
    min-height: 400px;
    background-color: white;
    margin-top: 15px;
    height:130px;
    box-shadow: 4px 4px 2px #E0E6ED;
    -moz-box-shadow: 4px 4px 2px #E0E6ED;
    -o-box-shadow: 4px 4px 2px #E0E6ED;
    -webkit-box-shadow: 4px 4px 2px #E0E6ED;
}

.index-list ul {
    margin-left: 30px;
}

.index-list li {
    list-style: none;
}

.index-list li a {
    text-decoration: none;
}

/* USERS */

.user-view{
    margin: auto;
    width:300px;
    min-height: 50%;
    margin-top: 15px;
    padding: 30px;
    background-color: white;
    text-align: center;
    box-shadow: 4px 4px 2px #E0E6ED;
    -moz-box-shadow: 4px 4px 2px #E0E6ED;
    -o-box-shadow: 4px 4px 2px #E0E6ED;
    -webkit-box-shadow: 4px 4px 2px #E0E6ED;
}

.buttons{
    padding: 20px 0;
}

@media(max-width:768px) {
    nav .container-fluid {
        margin:0px;
        padding: 0px;
    }

    #wrapper {
        padding-left: 0;
        margin-left: 0;
        width: 100%;
        height: 100%;
    }
    .page-content-wrapper{
        margin-left:0px;
        position:relative;
        left:0px;
        width:100%;
    }
    #sidebar {
        visibility: hidden;
    }

    .form {
        margin:0;
        width:100%;
    }

    article {
        padding: 0;
        margin:0;
    }
}
