body {
    overflow-x: hidden;
    position:absolute;
    min-height:100%;
    width:100%;
    background-color: #FAFAFA;
}

.navbar-custom {
    margin-bottom: 0px;
    border-bottom: none;
}

/* Header */

 #fluid {
     padding: 0px;
 }

#header, article {
    padding:30px 30px 60px 60px;
    width:100%;
    margin:0px;
    min-height: 100px;
}

#header{
    background-color: white;
}

#header small{
    font-weight: lighter;
    padding-left: 10px;
}

#header h1{
    color:#47525E;
    font-family: 'Lato black', sans-serif;
    font-weight: 900;
    font-size: 50px;
}

/* Toggle Styles */

#wrapper {
    margin-top:50px;
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -247px;
    overflow-y: auto;
    background: #E5E9F2;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding:0px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #47525e;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(71,82,94,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 0;
        margin-top:50px;
    }

    #wrapper.toggled {
        padding-left: 250px;
    }

    #sidebar-wrapper {
        width: 0;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }

    /* FOOTER */
    #footernav{
        position:relative;
        bottom:0px;
        top:280px;
        margin-bottom:10px;
        margin-top:20px;
    }


    #footernav li {
        display:inline;
        list-style-type: none;
        padding: 0px 15px;
        text-decoration: none;
    }

    #footernav li a {
        color: #FFE500;
        text-decoration: none;
    }

    #footernav li a:hover {
        color: #fee400;
        text-decoration: none;
    }
}