{% extends 'panel.html.twig' %}

    {% block title %}
        Your tags
    {% endblock %}


    {% block board %}

        {% block header %}
            <h1> Your tags </h1>
        {% endblock %}

        {% block article %}
            {% if tag|length %}
                {% for row in tag %}
                    <li><a href="{{ url('tag_view', {'id': row.id }) }}">
                            {{ row.id }}, {{ row.name }}
                        </a></li>
                {% endfor %}

            {% else %}
                <div>
                    No tags found
                </div>
            {% endif %}
        {% endblock %}

    {% endblock %}

