{% extends 'panel.html.twig' %}

    {% block title %}
        All flashcards
    {% endblock %}


    {% block board %}
        {% block header %}
            <h1> All flashcards </h1>
        {% endblock %}

        {% block article %}
            {% if flashcard|length %}
                {% for row in flashcard %}
                    <li><a href="{{ url('flashcard_view', {'id': row.id }) }}">
                            {{ row.id }}, {{ row.word }} => {{ row.definition }}
                        </a></li>
                {% endfor %}

            {% else %}
                <div>
                    No flashcards found
                </div>
            {% endif %}
        {% endblock %}
    {% endblock %}

