{% extends 'layout.html.twig' %}

    {% block title %}
        Your flashcards
    {% endblock %}


    {% block body %}
        <h1> Your flashcards </h1>

        {% if flashcard|length %}
            {% for row in flashcard %}
                <li><a href="#">
                        {{ row.id }}, {{ row.word }} => {{ row.definition }}
                    </a></li>
            {% endfor %}

        {% else %}
            <div>
                No flashcards found
            </div>
        {% endif %}

    {% endblock %}

