{% extends 'panel.html.twig' %}

    {% block title %}
        All flashcards
    {% endblock %}


    {% block board %}
        {% block header %}
            <h1> All flashcards </h1>
        {% endblock %}

        {% block article %}
            {% if paginator.data|length %}
                {% for row in paginator.data %}
                    <li><a href="{{ url('flashcard_view', {'id': row.id }) }}">
                            {{ row.id }}, {{ row.word }} => {{ row.definition }}
                        </a></li>
                {% endfor %}

                {% include 'default/_paginator.html.twig' with {
                paginator: paginator,
                route_name: 'flashcard_index_paginated',
                } %}

            {% else %}
                <div>
                    No flashcards found
                </div>
            {% endif %}
        {% endblock %}
    {% endblock %}

